doctype html
html(lang='en')
    head
        <tbody><tr>
        <td align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
        <table class="m_-8659261354862829575content" width="100%" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%">
        <tbody><tr>
        <td class="m_-8659261354862829575header" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center">
        <a href="http://localhost" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://localhost&amp;source=gmail&amp;ust=1553195001423000&amp;usg=AFQjCNEMRkUm9BVTL6ovKRJ2Y9-xmP72uQ">
        Taxi To Barcelona
        </a>
        </td>
        </tr>
        <tr>
        <td class="m_-8659261354862829575body" width="100%" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%">
        <table class="m_-8659261354862829575inner-body" align="center" width="570" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px">
        <tbody><tr>
        <td class="m_-8659261354862829575content-cell" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px">
        <h1 style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:19px;font-weight:bold;margin-top:0;text-align:left">How was your TaxiToBarcelona transfer?</h1>
        <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">Hi #{data.user.name},</p>
        <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">How was your ride From: #{data.pickupAddress}?</p>
        <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">Your opinion matters, please rate us <a href="http://trustpilot.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://trustpilot.com&amp;source=gmail&amp;ust=1553195001423000&amp;usg=AFQjCNEU7tyePnQts2RkzQA-07lqcLWajA">trustpilot.com</a></p>
        <table class="m_-8659261354862829575action" align="center" width="100%" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%"><tbody><tr>
        <td align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box"><tbody><tr>
        <td align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
        <table border="0" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box"><tbody><tr>
        <td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
        <a href="https://trustpilot.com/evaluate/taxitobarcelona.com?stars=5" class="m_-8659261354862829575button m_-8659261354862829575button-primary" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trustpilot.com/evaluate/taxitobarcelona.com?stars%3D5&amp;source=gmail&amp;ust=1553195001423000&amp;usg=AFQjCNEZ1HIoUBFMVU6Gzy7eox3pCyE3Kg">Rate us at trustpilot.com</a>
        </td>
        </tr></tbody></table>
        </td>
        </tr></tbody></table>
        </td>
        </tr></tbody></table>
        <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">Thanks,<br>
        Taxi To Barcelona</p>


            </td>
        </tr>
        </tbody></table>
        </td>
        </tr>
        <tr>
        <td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
        <table class="m_-8659261354862829575footer" align="center" width="570" cellpadding="0" cellspacing="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px"><tbody><tr>
        <td class="m_-8659261354862829575content-cell" align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px">
        <p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center">© 2019 Taxi To Barcelona. All rights reserved.</p>
        </td>
        </tr></tbody></table>
        </td>
        </tr>
        </tbody></table>
        </td>
        </tr></tbody>
