doctype html
html(lang='en')
    head
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid.m_-3562734743324416515two-up(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:transparent;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:transparent;')
                    .m_-3562734743324416515col.m_-3562734743324416515num6(style='max-width:320px;min-width:310px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;')
                                .m_-3562734743324416515img-container.m_-3562734743324416515left.m_-3562734743324416515autowidth(align='left', style='padding-right:0px;padding-left:0px;')
                                    div(style='line-height:15px;font-size:1px;')  
                                    img.m_-3562734743324416515left.m_-3562734743324416515autowidth.CToWUd(align='left', border='0', src='https://mail.google.com/mail/u/0?ui=2&ik=b74bb1bcf8&attid=0.1&permmsgid=msg-f:1628551824463052896&th=1699c741836f4060&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_UTiW7DNlelrKjbiLxWUxRkxzC4_xH6GxUcVMIHMGrCN9DatOQkQQj0tv61wQ0PNB3OaL_SLpY_BUR6A2JTvJ98V947as1yXO3-9L9fctJqELytYEjEbxLHUs&disp=emb', alt='TaxiToBarcelona', title='TaxiToBarcelona', style='outline:none;text-decoration:none;clear:both;display:block!important;border:0;height:auto;float:none;width:100%;max-width:186px;', width='186', data-image-whitelisted='')
                                    div(style='line-height:15px;font-size:1px;')  
                    .m_-3562734743324416515col.m_-3562734743324416515num6(style='max-width:320px;min-width:310px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;')
                                div
                                    div(style="color:#555555;font-family:TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;line-height:120%;padding-right:0px;padding-left:0px;padding-top:15px;padding-bottom:15px;")
                                        div(style="font-size:12px;line-height:14px;font-family:TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;color:#555555;text-align:left;")
                                            p(style='margin:0;font-size:14px;line-height:17px;text-align:right;')
                                                em
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:#ffffff;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:#ffffff;')
                    .m_-3562734743324416515col.m_-3562734743324416515num12(style='min-width:320px;max-width:620px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:0px;padding-right:0px;padding-left:0px;')
                                table.m_-3562734743324416515divider(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;min-width:100%;')
                                    tbody
                                        tr(style='vertical-align:top;')
                                            td.m_-3562734743324416515divider_inner(style='word-break:break-word;border-collapse:collapse!important;vertical-align:top;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:15px;min-width:100%;')
                                                table.m_-3562734743324416515divider_content(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;border-top:1px solid #222222;')
                                                    tbody
                                                        tr(style='vertical-align:top;')
                                                            td(style='word-break:break-word;border-collapse:collapse!important;vertical-align:top;')
                                                                span
                                div
                                    div(style="color:#555555;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;line-height:120%;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:10px;")
                                        div(style="font-size:12px;line-height:14px;color:#555555;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;text-align:left;")
                                            p(style='margin:0;font-size:14px;line-height:17px;text-align:center;')
                                                span(style='font-size:20px;line-height:24px;') Your driver
                                                br
                                                | For the transfer from #{data.booking.pickupAddress}
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:#ffffff;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:#ffffff;')
                    .m_-3562734743324416515col.m_-3562734743324416515num12(style='min-width:320px;max-width:620px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:0px;padding-left:0px;')
                                .m_-3562734743324416515img-container.m_-3562734743324416515center.m_-3562734743324416515fixedwidth(align='center', style='padding-right:0px;padding-left:0px;')
                                    img.m_-3562734743324416515center.m_-3562734743324416515fixedwidth.CToWUd.a6T(align='center', border='0', src='https://ci6.googleusercontent.com/proxy/5oiwXq3GwsAznG2nWDK22gyhKPgPjqU3JHnvvmFba6gKBga50nkcNEWH80ZxaDBsWS0TM0S8mAFHH4AASXabrHfKt7Pacb72Iu8Msc2j0Q=s0-d-e1-ft#https://s3.eu-west-3.amazonaws.com/taxitobcn/driver_icon.png', alt='Image', title='Image', style='outline:none;text-decoration:none;clear:both;display:block!important;border:0;height:auto;float:none;width:100%;max-width:217px;', width='217', tabindex='0')
                                    .a6S(dir='ltr', style='opacity: 0.01; left: 783px; top: 381px;')
                                        .T-I.J-J5-Ji.aQv.T-I-ax7.L3.a5q(id=':ng', role='button', tabindex='0', aria-label='Download attachment ', data-tooltip-class='a1V', data-tooltip='Download')
                                            .aSK.J-J5-Ji.aYr
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:#ffffff;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:#ffffff;')
                    .m_-3562734743324416515col.m_-3562734743324416515num12(style='min-width:320px;max-width:620px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:10px;padding-right:0px;padding-left:0px;')
                                div
                                    div(style="color:#000000;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;line-height:120%;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:5px;")
                                        div(style='line-height:14px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;font-size:12px;color:#000000;text-align:left;')
                                            p(style='margin:0;line-height:14px;text-align:center;font-size:12px;')
                                                span(style='font-size:18px;line-height:21px;')
                                                    strong #{data.driver.name}
                                div
                                    div(style="color:#71777d;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;line-height:120%;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:25px;")
                                        div(style='font-size:12px;line-height:14px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;color:#71777d;text-align:left;')
                                            p(style='margin:0;font-size:14px;line-height:17px;text-align:center;') + #{data.driver.countryCode} #{data.driver.phoneNumber}
                                div
                                    div(style="color:#a1a1a1;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;line-height:120%;padding-right:15px;padding-left:15px;padding-top:10px;padding-bottom:10px;")
                                        div(style="font-size:12px;line-height:14px;color:#a1a1a1;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;text-align:left;")
                                            p(style='margin:0;font-size:14px;line-height:17px;')
                                                span(style='font-size:12px;line-height:14px;')
                                                    | You can contact #{data.driver.name} on the day of the transfer to notify of delays or to clarify how to find him on the spot.
                                div(style="font-size:16px;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;text-align:center;")
                                    div(style="font-size:16px;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;text-align:center;")
                                        div(style='padding-top:15px;padding-bottom:5px;padding-right:15px;padding-left:15px;text-align:left;')
                                            div(style='background:#ff9800;text-align:center;padding-top:30px;padding-bottom:30px;padding-right:24px;padding-left:24px;margin-bottom:12px;border-radius:4px;')
                                                h2(style='margin:0;margin-bottom:8px;font-size:20px;line-height:1.2;color:#fff;') Important Message for Barcelona Airport El Prat (BCN)
                                                div(style='opacity:1;margin:0;font-size:14px;line-height:1.6;color:#fff;')
                                                    p
                                                        | We include 60min of complimentary waiting time at the airport. If it takes you more than an hour to exit the airport, please call your
                                                        span.m_-3562734743324416515il driver
                                                        |  or our support team at
                                                        strong
                                                            a(href='mailto:support@taxitobarcelona.com', target='_blank') support@taxitobarcelona.com
                                                        |  to discuss the extra waiting time charge.
                                                    p
                                                        | Offical local waiting time charges are:
                                                        strong 20EUR/hour, 5EUR/15min
                                                        | . You can pay in cash directly to your
                                                        span.m_-3562734743324416515il driver
                                                        |  or our support team can charge it to your credit card on file.
                                                    p
                                                        | Please make sure that your phone is switched on when you arrive at the airport. If we are not able to get in touch with you, we have the right to release your
                                                        span.m_-3562734743324416515il driver
                                                        |  and it's considered as a non-refundable case.
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:#ffffff;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:#ffffff;')
                    .m_-3562734743324416515col.m_-3562734743324416515num12(style='min-width:320px;max-width:620px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:0px;padding-bottom:5px;padding-right:0px;padding-left:0px;')
                                .m_-3562734743324416515button-container.m_-3562734743324416515center(align='center', style='padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:10px;')
                                    div(style="color:#ffffff;background-color:#3aaee0;border-radius:4px;max-width:196px;width:156px;width:auto;border-top:0px solid transparent;border-right:0px solid transparent;border-bottom:0px solid transparent;border-left:0px solid transparent;padding-top:5px;padding-right:20px;padding-bottom:5px;padding-left:20px;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;text-align:center;")
                                        a(href=`${data.appURL}/dashboard/viewbooking/${data.booking.bookingId}`, style="font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;font-size:16px;line-height:32px;", target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/dashboard/viewbooking/2132131&source=gmail&ust=1553194453451000&usg=AFQjCNHx8wn_K2zXEcPC90VbDxJTdqqSqw') View Booking Details
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:#ffffff;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:#ffffff;')
                    .m_-3562734743324416515col.m_-3562734743324416515num12(style='min-width:320px;max-width:620px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:0px;padding-right:0px;padding-left:0px;')
                                table.m_-3562734743324416515divider(border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;min-width:100%;')
                                    tbody
                                        tr(style='vertical-align:top;')
                                            td.m_-3562734743324416515divider_inner(style='word-break:break-word;border-collapse:collapse!important;vertical-align:top;padding-right:10px;padding-left:10px;padding-top:15px;padding-bottom:15px;min-width:100%;')
                                                table.m_-3562734743324416515divider_content(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='border-collapse:collapse;table-layout:fixed;border-spacing:0;vertical-align:top;border-top:1px dotted #cccccc;')
                                                    tbody
                                                        tr(style='vertical-align:top;')
                                                            td(style='word-break:break-word;border-collapse:collapse!important;vertical-align:top;')
                                                                span
        div(style='background-color:transparent;')
            .m_-3562734743324416515block-grid(style='Margin:0 auto;min-width:320px;max-width:620px;word-wrap:break-word;word-break:break-word;background-color:#ffffff;')
                div(style='border-collapse:collapse;display:table;width:100%;background-color:#ffffff;')
                    .m_-3562734743324416515col.m_-3562734743324416515num12(style='min-width:320px;max-width:620px;display:table-cell;vertical-align:top;')
                        div(style='background-color:transparent;width:100%!important;')
                            div(style='border-top:0px solid transparent;border-left:0px solid transparent;border-bottom:0px solid transparent;border-right:0px solid transparent;padding-top:5px;padding-bottom:5px;padding-right:0px;padding-left:0px;')
                                div
                                    div(style="color:#555555;font-family:'Lato',Tahoma,Verdana,Segoe,sans-serif;line-height:120%;padding-right:10px;padding-left:10px;padding-top:10px;padding-bottom:10px;")
                                        div(style='font-size:12px;line-height:14px;font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;color:#555555;text-align:left;')
                                            p(style='margin:0;font-size:14px;line-height:17px;text-align:center;')
                                                span(style='font-size:12px;line-height:14px;') Copyright © 2019 TaxiToBacelona.com. All rights reserved. 
                                                br
                                                span(style='font-size:12px;line-height:14px;')
