doctype html
html(lang='en')
    head
        table.m_8217571520848682508content(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%')
            tbody
                tr
                    td.m_8217571520848682508header(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center')
                        a(href='http://localhost', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost&source=gmail&ust=1553194893325000&usg=AFQjCNFhD7R684I-wtd0wWz2bbZsheHrsw')
                            | Taxi To Barcelona
                tr
                    td.m_8217571520848682508body(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%')
                        table.m_8217571520848682508inner-body(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px')
                            tbody
                                tr
                                    td.m_8217571520848682508content-cell(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        h1(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:19px;font-weight:bold;margin-top:0;text-align:left') Driver Arrived at the pickup address
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left') Hi #{data.user.name},
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | We are contacting you to notify that your driver is waiting for you on the pickup location, if you can't find him please contact him.
                                        h2(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:16px;font-weight:bold;margin-top:0;text-align:left')
                                            | Booking Details
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            code Booking Ref:
                                            |  # #{data.bookingRef}
                                            br
                                            code Passenger Name:
                                            |  #{data.passengerName}
                                            br
                                            code Flight Number:
                                            |  # #{data.flightNumber}
                                            br
                                            code Pickup Location:
                                            |  #{data.pickupAddress}
                                            br
                                            code Drop-off Location:
                                            |  #{data.dropoffAddress}
                                            br
                                            code Pickup Date:
                                            |  #{data.pickupTime}
                                            br
                                            code Notes:
                                            |  #{data.notes}
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Thanks,
                                            br
                                            | Taxi To Barcelona
                tr
                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                        table.m_8217571520848682508footer(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px')
                            tbody
                                tr
                                    td.m_8217571520848682508content-cell(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center') © 2019 Taxi To Barcelona. All rights reserved.
