doctype html
html(lang='en')
    head
    body
        table.m_-1149040034460711499content(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%')
            tbody
                tr
                    td.m_-1149040034460711499header(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center')
                        a(href='http://localhost', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost&source=gmail&ust=1552502053953000&usg=AFQjCNHCZ1LZBSdopPpmdgvSvqU2fpO1BA')
                            | Taxi To Barcelona
                tr
                    td.m_-1149040034460711499body(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%')
                        table.m_-1149040034460711499inner-body(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px')
                            tbody
                                tr
                                    td.m_-1149040034460711499content-cell(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        h1(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:19px;font-weight:bold;margin-top:0;text-align:left') Please reset your passowrd
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Hi #{data.name},
                                            br
                                            |                                     Reset your password by clicking this button.
                                        table.m_-1149040034460711499action(align='center', width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%')
                                            tbody
                                                tr
                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                            tbody
                                                                tr
                                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                        table(border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                            tbody
                                                                                tr
                                                                                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                                        a.m_-1149040034460711499button.m_-1149040034460711499button-primary(href=`${data.appURL}/user/resetpassword?code=${data.userId}`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/confirm?code%3D477b025d1950b7ce&source=gmail&ust=1552502053953000&usg=AFQjCNGzUupTIBz25ZoYTH5fhfeRXnkfEQ') Reset Password
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            a(href=`${data.appURL}/user/resetpassword?code=${data.userId}`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#3869d4', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/confirm?code%3D477b025d1950b7ce&source=gmail&ust=1552502053953000&usg=AFQjCNGzUupTIBz25ZoYTH5fhfeRXnkfEQ')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Thanks,
                                            br
                                            |                                     Taxi To Barcelona
                tr
                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                        table.m_-1149040034460711499footer(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px')
                            tbody
                                tr
                                    td.m_-1149040034460711499content-cell(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center') © 2019 Taxi To Barcelona. All rights reserved.
