doctype html
html(lang='en')
    head
        table.m_4177619424311131490content(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%')
            tbody
                tr
                    td.m_4177619424311131490header(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center')
                        a(href='http://localhost', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost&source=gmail&ust=1553194467392000&usg=AFQjCNHA-V38o7cyaLYXxwVMHrgevgoLSA')
                            | Taxi To Barcelona
                tr
                    td.m_4177619424311131490body(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%')
                        table.m_4177619424311131490inner-body(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px')
                            tbody
                                tr
                                    td.m_4177619424311131490content-cell(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        h1(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:19px;font-weight:bold;margin-top:0;text-align:left') New Booking Assigned
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left') Hi #{data.driver.name} we have assigned you a new booking.
                                        h2(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:16px;font-weight:bold;margin-top:0;text-align:left')
                                            | Booking Details
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            code Booking Ref:
                                            |  # #{data.booking.bookingRef}
                                            br
                                            code Passenger Name:
                                            |  #{data.booking.passengerName}
                                            br
                                            code Flight Number:
                                            |  # #{data.booking.flightNumber}
                                            br
                                            code Pickup Location:
                                            |  #{data.booking.pickupAddress}
                                            br
                                            code Drop-off Location:
                                            |  #{data.booking.dropoffAddress}
                                            br
                                            code Pickup Date:
                                            |  #{data.booking.pickupTime}
                                            br
                                            code Notes:
                                            |  #{data.booking.notes}
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left') When you arrive at the pickup address please press the following button.
                                        table.m_4177619424311131490action(align='center', width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%')
                                            tbody
                                                tr
                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                            tbody
                                                                tr
                                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                        table(border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                            tbody
                                                                                tr
                                                                                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                                        a.m_4177619424311131490button.m_4177619424311131490button-primary(href=`${data.appURL}/statusarrived?code=${data.booking.bookingId}`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/statusarrived?code%3D234234&source=gmail&ust=1553194467393000&usg=AFQjCNEvVNOed00IOnLsXtCi9z-prlIM4w') Arrived
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left') Once the booking is completed please press the following button.
                                        table.m_4177619424311131490action(align='center', width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%')
                                            tbody
                                                tr
                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                            tbody
                                                                tr
                                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                        table(border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                            tbody
                                                                                tr
                                                                                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                                        a.m_4177619424311131490button.m_4177619424311131490button-primary(href=`${data.appURL}/statuscompleted?code=${data.booking.bookingId}`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/statuscompleted?code%3D234234&source=gmail&ust=1553194467393000&usg=AFQjCNElNYNn4QtUFBkFJ2kH3yvf-wCX0w') Completed
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Thanks,
                                            br
                                            | Taxi To Barcelona
                tr
                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                        table.m_4177619424311131490footer(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px')
                            tbody
                                tr
                                    td.m_4177619424311131490content-cell(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center') © 2019 Taxi To Barcelona. All rights reserved.
