Taxi To Barcelonadoctype html
html(lang='en')
    head
        table.m_-1479946843196879201content(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%')
            tbody
                tr
                    td.m_-1479946843196879201header(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center')
                        a(href='http://localhost', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost&source=gmail&ust=1553199220343000&usg=AFQjCNGWflrBINMJnRtq2kBcjb6YViniFQ')
                            | Taxi To Barcelona
                tr
                    td.m_-1479946843196879201body(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%')
                        table.m_-1479946843196879201inner-body(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px')
                            tbody
                                tr
                                    td.m_-1479946843196879201content-cell(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Hello #{data.booking.user.name},
                                            br
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | We're writing to let you know that your order has been successfully canceled.
                                            br
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            code Booking Ref:# #{data.booking.bookingRef}
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | You can view your booking online and track the status as well at any time by logging in your account at
                                            a(href=`${data.appURL}/login`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#3869d4', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/login&source=gmail&ust=1553199220343000&usg=AFQjCNGbi63SSBuMgvcyZvHEeTJA4-bB6A') http://localhost/login
                                        table.m_-1479946843196879201action(align='center', width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%')
                                            tbody
                                                tr
                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                            tbody
                                                                tr
                                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                        table(border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                            tbody
                                                                                tr
                                                                                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                                        a.m_-1479946843196879201button.m_-1479946843196879201button-primary(href=`${data.appURL}/dashboard/viewbooking/${data.booking.bookingId}`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/dashboard/viewbooking/2132132&source=gmail&ust=1553199220343000&usg=AFQjCNGvZ-qHh8g68CXxA4JgGoSeZi0N3A') View Booking
                                        h2(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:16px;font-weight:bold;margin-top:0;text-align:left')
                                            | Order Details
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            code Pickup Location:
                                            |  #{data.booking.pickupAddress}
                                            br
                                            code Dropoff Location:
                                            |  #{data.booking.dropoffAddress}
                                            br
                                            code Pickup Date:
                                            |  #{data.booking.dropoffAddress}
                                            br
                                            code Booking Status:
                                            |  #{data.booking.bookingStatus}
                                            br
                                            code Stripe Transaction id:
                                            |  #{data.booking.payment.transactionId}
                                            br
                                            code Amount Refunded:
                                            |  #{data.refundAmount} €
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            br
                                            | If you need further assistance, please visit contact us via our email
                                            a(href='mailto:support@taxitobarcelona.com', target='_blank') support@taxitobarcelona.com
                                            | We hope to see you again soon.
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Thanks,
                                            br
                                            | Taxi To Barcelona
                tr
                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                        table.m_1991420014258602978footer(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px')
                            tbody
                                tr
                                    td.m_1991420014258602978content-cell(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center') © 2019 Taxi To Barcelona. All rights reserved.
