doctype html
html(lang='en')
    head
        table.m_1991420014258602978content(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0;padding:0;width:100%')
            tbody
                tr
                    td.m_1991420014258602978header(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:25px 0;text-align:center')
                        a(href='http://localhost', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#bbbfc3;font-size:19px;font-weight:bold;text-decoration:none', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost&source=gmail&ust=1553198566076000&usg=AFQjCNF5ha67COh8T-lncqnemEThbvblig')
                            | Taxi To Barcelona
                tr
                    td.m_1991420014258602978body(width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;border-bottom:1px solid #edeff2;border-top:1px solid #edeff2;margin:0;padding:0;width:100%')
                        table.m_1991420014258602978inner-body(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;background-color:#ffffff;margin:0 auto;padding:0;width:570px')
                            tbody
                                tr
                                    td.m_1991420014258602978content-cell(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        h1(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:19px;font-weight:bold;margin-top:0;text-align:left') Congratulations, Your booking has been confirmed.
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Hi #{data.user.name},
                                            br
                                            br
                                            | 4 days before the transfer a driver will be assigned to you. You will get an email with all the details.
                                            br
                                            code Booking Ref: # #{data.booking.bookingRef}
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | You can view your booking online and track the status as well at any time by logging in your account at
                                            a(href=`${data.appURL}/login`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#3869d4', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/login&source=gmail&ust=1553198566076000&usg=AFQjCNEcjTdthnDGaiHvGRkq1igIg_2n-A') http://localhost/login
                                        table.m_1991420014258602978action(align='center', width='100%', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:30px auto;padding:0;text-align:center;width:100%')
                                            tbody
                                                tr
                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                        table(width='100%', border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                            tbody
                                                                tr
                                                                    td(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                        table(border='0', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                            tbody
                                                                                tr
                                                                                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                                                                                        a.m_1991420014258602978button.m_1991420014258602978button-primary(href=`${data.appURL}/dashboard/viewbooking/${data.booking.bookingId}`, style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;border-radius:3px;color:#fff;display:inline-block;text-decoration:none;background-color:#3097d1;border-top:10px solid #3097d1;border-right:18px solid #3097d1;border-bottom:10px solid #3097d1;border-left:18px solid #3097d1', target='_blank', data-saferedirecturl='https://www.google.com/url?q=http://localhost/dashboard/viewbooking/2132132&source=gmail&ust=1553198566076000&usg=AFQjCNG-MEFK6aedMVFCEIxaPjQl8mwrRw') View Booking
                                        h2(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:16px;font-weight:bold;margin-top:0;text-align:left')
                                            | Booking Details
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            code Booking Ref:
                                            |  #{data.booking.bookingRef}
                                            br
                                            code Booking ID:
                                            |  #{data.booking.bookingId}
                                            br
                                            code Pickup Location:
                                            |  #{data.booking.pickupAddress}
                                            br
                                            code Dropoff Location:
                                            |  #{data.booking.dropoffAddress}
                                            br
                                            code Pickup Date:
                                            |  #{data.booking.pickupTime}
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            br
                                        h2(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#2f3133;font-size:16px;font-weight:bold;margin-top:0;text-align:left') Meeting Point
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | If you have an airport booking, your driver will be waiting you at the arrivals hall, holding a sign with your name. The driver might monitor your flight and contact you after landing. Please make sure to turn your phone on and use Airport's FREE Wi-Fi.
                                            br
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left')
                                            | Thanks,
                                            br
                                            | Taxi To Barcelona
                tr
                    td(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box')
                        table.m_1991420014258602978footer(align='center', width='570', cellpadding='0', cellspacing='0', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin:0 auto;padding:0;text-align:center;width:570px')
                            tbody
                                tr
                                    td.m_1991420014258602978content-cell(align='center', style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:35px')
                                        p(style='font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:1.5em;margin-top:0;color:#aeaeae;font-size:12px;text-align:center') © 2019 Taxi To Barcelona. All rights reserved.
